# .gitignore

# Python
*.pyc
__pycache__/

# Virtual Environment
venv/
env/

# Docker
.docker/
docker-compose.override.yml

# Django
*.log
*.pot
*.pyc
*.pyo
__pycache__/
local_settings.py

# Editor/IDE specific files
.vscode/
*.sublime-workspace
*.sublime-project
.idea/

# Database
db.sqlite3
*.sqlite3
*.sql
