editform.html

{%load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap4.min.css">
    <link href="//cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    
    <title>Excel Reader</title>
<body>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Sr.no</th>
            <th scope="col">step</th>
            <th scope="col">Description</th>
            <th scope="col">std.value</th>
            <th scope="col">obs.value</th>
            <th scope="col">start_time</th>
            <th scope="col">end_time</th>
            <th scope="col">user_permission</th>
          </tr>
        </thead>
        <tbody>
    {% for data in saved_data %}

    <form method="post" action="{% url 'update_template_detail' data.id %}">
        {% csrf_token %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ data.step }}</td>
          <td>{{ data.description }}</td>
          <td><input type="text" name="std_value" value="{{ data.std_value }}"></td>
          <td><input type="text" name="obs_value" value="{{ data.obs_value }}"></td>
          <td><input type="text" name="start_time" value="{{ data.start_time }}"></td>
          <td><input type="text" name="end_time" value="{{ data.end_time }}"></td>
          <td><button type="submit">Update</button></td>
        </tr>
      </form>
      {% endfor %}

        </tbody>
      </table>
</body>
</html>
